<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <main id="main">
  <header>
    <h1 id="title">திருவள்ளுவர்</h1>
  </header>
    <div id='img-div'>
      <figure>
      <img
       id='image'
       src='https://www.hindugodwallpaper.com/images/gods/zoom/3262_thiruvalluvar-hd-wallpaper.jpg'
       alt='tribute image' />
      <figcaption id='img-caption'>பழந்தமிழ் இலக்கியமான திருக்குறளை இயற்றிய தமிழ்ப்புலவர்</figcaption>
    </figure>
    </div>
    <section id='tribute-info'>
      <article>
        <h4>வாழ்க்கை</h4>
        <p>திருவள்ளுவரது இயற்பெயர், வாழ்ந்த இடம் உறுதியாகத் தெரியவில்லை எனினும் அவர் கி.மு. முதல் நூற்றாண்டில், தற்போதைய சென்னை நகருக்கருகில், மயிலாப்பூரில் வாழ்ந்து வந்தார் என்று தமிழக அரசு அறிவித்துள்ளது. காவிரிப்பக்கம் அருகில் வாழ்ந்து வந்த மார்கசெயன் என்பவர் அவரது கவித்திறன் கண்டு அவரது ஒரு புதல்வியான வாசுகியை வள்ளுவருக்கு மணம் முடித்ததாகவும் அறியப்படுகிறது [2]. மதுரை நகரில் வாழ்ந்ததாகவும் கருத்துண்டு.</p>
        <p>மா. இராச மாணிக்கனார் தன் கால ஆராய்ச்சி நூலில் பல்வேறு சான்றுகள் மூலம் மணிமேகலை எழுதப்பட்ட காலம் கி. பி இரண்டாம் நூற்றாண்டுக்கு முன்பு என்கிறார். சில ஆராய்ச்சியாளர்களின் கருத்துகளை தக்க சான்றுகளுடன் மறுத்தும் கூறியுள்ளார். சிலப்பதிகாரமும் மணி மேகலையும் வெவ்வேறு காலங்களில் எழுதப்பட்டது என்று பல்வேறு சான்றுகளை தமிழ் ஆர்வள ஆராய்ச்சியாளர்கள் முன் வைக்கின்றனர்.</p>
      </article>
      <article>
        <h4>சிறப்புப் பெயர்கள்</h4>
        <ul>
          <li>தேவர்</li>
          <li>நாயனார்,</li>
          <li>தெய்வப்புலவர்,</li>
          <li>செந்நாப்போதர்,</li>
          <li>பெருநாவலர்,</li>
          <li>பொய்யில் புலவர்,</li>
          <li>பொய்யாமொழிப் புலவர்</li>
          <li>மாதானுபங்கி</li>
          <li>முதற்பாவலர்</li>
        </ul>
        <p>என்று பல சிறப்புப்பெயர்களாலும் அழைப்பர்.</p>
      </article>
      <article>
        <h4>புலவர்களின் பாராட்டுகள்</h4>
        <p>பல புலவர்கள் இணைந்து தொகுத்த, திருவள்ளுவமாலை என்னும் நூலின் மூலமாக இதன் சிறப்பினை அறியலாம்.</p>
        <aside>
          <blockquote>
            <p>"வள்ளுவன் தன்னை உலகினுக்கே தந்து</p>
            <p>வான்புகழ் கொண்ட தமிழ்நாடு"</p>
          </blockquote>
          <cite>என பாரதியாரும்,</cite>
        </aside>
        <aside>
          <blockquote>
            <p>"வள்ளுவனைப் பெற்றதால்</p>
            <p>பெற்றதே புகழ் வையகமே"</p>
          </blockquote>
          <cite>என பாரதிதாசனும் புகழ்ந்து பாடியுள்ளனர்.</cite>
        </aside>
      </article>
      <article>
        <h4>இயற்றிய நூல்கள்</h4>
        <p><a id='tribute-link' href='http://www.thirukkural.com/2009/01/1.html' target="_blank">திருக்குறள்</a></p>
      </article>

    </section>
  </main>
<% include ../partials/scripts.ejs %>
</body>
</html>
